<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-ibatis.apache.org//DTD Mapper 3.0//EN"
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.zxjyTools.dao.InterfaceDao">

	<resultMap type="com.zxjyTools.vo.InterfaceVo" id="interfaceInfoMap">
		<result column="id" property="interfaceId"/>
		<result column="type" property="interfaceType"/>
		<result column="description" property="description"/>
		<result column="actionName" property="actionName"/>
		<result column="name" property="interfaceName"/>
		<result column="args" property="interfaceArgs"/>
		<result column="path" property="interfacePath"/>
		<result column="username" property="submitter"/>
	</resultMap>
	
	<select id="selectAllInterfaceInfo" resultMap="interfaceInfoMap">	
		SELECT
		  tf.id AS interfaceId,
		  tfc.`type` AS interfaceType,
		  tf.`description` AS description,
		  tfc.`actionName` AS actionName,
		  tf.`name` AS interfaceName,
		  tf.`args` AS interfaceArgs,
		  tf.`path` AS interfacePath,
		  tu.`username` AS submitter
		FROM
		  t_interface tf 
		  JOIN t_interface_category tfc 
		    ON tfc.id = tf.`categoryId` 
		  JOIN t_user tu 
		    ON tu.`id` = tf.`submitter` 
		  ORDER BY tf.id DESC
	</select>
	
	<!-- 查询全部用户信息 -->	
	<select id="findAll" resultType="com.zxjyTools.entity.Interface">
		select * from t_interface
	</select>
	
	<insert id="insertInterface" parameterType="com.zxjyTools.entity.Interface"
		keyProperty="interfaceId" useGeneratedKeys="true">
		insert into t_interface (
			CATEGORYID,
			NAME,
			ARGS,
			PATH,
			SUBMITTER,
			DESCRIPTION
		) values (
			#{categoryId},
			#{name},
			#{args},
			#{path},
			#{submitter},
			#{description}
		)
	</insert>
	
	<select id="findInterface" parameterType="Integer" resultType="com.zxjyTools.entity.Interface">
		select * from t_Interface
		where		
		ID = #{id}

	</select>
	
	<update id="updateInterface" parameterType="com.zxjyTools.entity.Interface">
		update t_interface 
		<set>
			CATEGORYID = #{categoryId},
			NAME = #{name},
			ARGS = #{args},
			PATH = #{path},
			SUBMITTER = #{submitter},
			DESCRIPTION = #{description}
		</set>		
	</update>
	
	<delete id="deleteInterface" parameterType="Integer">
		delete from t_interface where ID = #{id}
	</delete>
	
</mapper>